@use "../abstracts";

$error-color: #d5544b;
.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }
    &__group {
        width: 100%;
        margin-top: 30px;
        @include abstracts.screen(md) {
            + .form__group {
                margin-top: 20px;
            }
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__icon-error {
            display: block;
        }
        .form__icon {
            display: none;
        }
    }
    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid #d2d1d6;
    }

    &__text-area {
        padding: 12px;
        height: 100px;
        @include abstracts.screen(sm) {
            padding: 6px;
        }

        &-input {
            width: 100%;
            resize: none;
        }
    }

    &__text-input {
        position: relative;
        height: 50px;

        @include abstracts.screen(md) {
            height: 48px;
        }

        &:focus-within {
            border-color: #77dae6;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        gap: 30px;

        @include abstracts.screen(md) {
            gap: 20px;
            align-items: flex-end;
        }
        @include abstracts.screen(sm) {
            margin-top: -20px;
            flex-direction: column;
            gap: 0;
        }
        > * {
            flex: 1;
        }
    }
    &__input,
    &__text-area-input {
        flex: 1;
        height: 100%;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        &::placeholder {
            color: #d2d1d6;
            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }
    }
    &__input {
        &::placeholder {
            font-weight: 400;
        }

        &-icon {
            margin-left: 12px;
        }
    }
    &__select-dialog {
        position: absolute;
        bottom: 40px;
        left: 10px;
        z-index: 1;
        display: flex;

        opacity: 0;
        visibility: hidden;
        translate: 0 8px;
        transition: opacity visibility, translate;
        transition-duration: 0.2s;

        flex-direction: column;

        background: var(--dialog-bg);
        padding-bottom: 10px;
        border: 1px solid #d2d1d6;
        border-radius: 8px;
        max-height: 313px;
        min-width: 240px;
        box-shadow: 0 0 5px var(--form-select-dialog-shadow);

        &.show {
            opacity: 1;
            visibility: visible;
            translate: 0;
        }
        @include abstracts.screen(sm) {
            position: fixed;
            max-height: initial;
            max-width: initial;
            inset: 0;
            border-radius: 0;
        }
    }
    &__dialog-heading {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        padding: 5px;
    }

    &__close-dialog {
        font-size: 3.4rem;
        position: absolute;
        top: -10px;
        right: 0;
        padding: 4px 10px;
    }

    &__search {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d2d1d6;

        padding: 0 20px;
        height: 38px;
        flex-shrink: 0;

        @include abstracts.screen(lg) {
            height: 48px;
        }
        @include abstracts.screen(sm) {
            border: 1px solid #d2d1d6;
            margin-top: 15px;
        }
        &-icon {
            width: 16px;
            margin-left: 10px;
            @include abstracts.screen(sm) {
                margin-right: 10px;
                width: 20px;
            }
        }
        &-input {
            flex: 1;
            width: 100%;
            font-size: 1.6rem;
        }
    }
    &__option-list {
        margin-top: 12px;
        flex: 1;
        overflow-y: auto;
        overscroll-behavior: contain;
    }
    &__option {
        padding: 8px 20px;
        font-size: 1.4rem;

        &:not(&--current):hover {
            background: var(--form-select-option);
            cursor: pointer;
        }
        &--current {
            background: rgba($color: #ffb700, $alpha: 0.8);
            font-weight: 600;
        }
        @include abstracts.screen(lg) {
            padding: 18px 20px;
            font-size: 1.6rem;
        }
    }

    &__error {
        text-align: left;
        color: $error-color;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        display: none;
    }
    &__icon {
        margin-left: 12px;

        &-error {
            display: none;
            margin-left: 12px;
            animation: shake 0.8s;
        }
    }

    &__pull-right {
        margin-left: auto;
    }
    &__checkbox {
        position: relative;

        &-label {
            margin-left: 30px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }
        &::before,
        &::after {
            position: absolute;
            content: "";
            display: inline-block;
        }

        &::before {
            width: 18.5px;
            height: 18.5px;
            border: 1.5px solid #9e9da8;
            border-radius: 4px;
        }
    }
    // ĐIỀU KHIẾN TÔI CHĂN TRỞ
    &__checkbox:has(:checked) {
        &::before {
            border-color: #ffb700;
            background: #ffb700;
        }

        &::after {
            width: 15px;
            height: 8px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            left: 2px;
            top: 3px;
        }
    }
    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--medium {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
        &--small {
            display: block;
            margin-bottom: 10px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }
    }
    &__select-wrap {
        height: 45px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }
    &__text-input {
        display: flex;
        align-items: center;
        width: 100%;
        height: 44px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        padding: 0 16px;

        &--small {
            width: 121px;
            height: 36px;
            padding: 0 12px;
            @include abstracts.screen(xl) {
                width: 100%;
            }
        }
        @include abstracts.screen(sm) {
            padding: 0 4px;
            width: 100%;
        }
        &--short {
            height: 40px;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        @include abstracts.screen(sm) {
            gap: 9px;
        }
    }

    &__tag {
        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        padding: 6px 12px;

        border-radius: 6px;
        background: var(--form-tag-bg-color);

        &:hover {
            color: var(--text-color);
        }
    }
    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 14px;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);

        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        @include abstracts.screen(xl) {
            flex: 1;
        }
    }
    @include abstracts.screen(sm) {
        &__select:nth-child(1) {
            --width: 132px !important;
            width: var(--width, 83px);
        }
    }
    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }
}
